services:
  frontend:
    build: ./frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    environment:
      - NODE_ENV=development

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - STREAM_URL_1=https://demo.com/stream1.m3u8
      - STREAM_URL_2=https://demo.com/stream2.m3u8
    volumes:
      - ./backend/src:/app/src